name: C/C++ CI

on: [pull_request, push]

jobs:
  build:

    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2
    - name: Get some random
      run: |
            cd src
            Remove-Item -Path GOESP-inj\JunkDef.h
            Remove-Item -Path Osiris-inj\JunkDef.h
            & '.\__asm_emit generator.exe' (Get-Random -Minimum 150 -Maximum 500) 1
            Move-Item -Path junk.h -Destination GOESP-inj\JunkDef.h
            & '.\__asm_emit generator.exe' (Get-Random -Minimum 150 -Maximum 500) 1
            Move-Item -Path junk.h -Destination Osiris-inj\JunkDef.h
      shell: pwsh
    - name: MSBuild Osiris-inj
      working-directory: src/Osiris-inj
      run: msbuild Osiris-inj.vcxproj /p:Configuration=Release /p:VisualStudioVersion=16.0 /v:m
    - name: ls
      run: ls
    - name: MSBuild GOESP-inj
      working-directory: src/GOESP-inj
      run: msbuild GOESP-inj.vcxproj /p:Configuration=Release /p:VisualStudioVersion=16.0 /v:m
    - name: ls
      run: ls
    - uses: actions/upload-artifact@v1
      with:
        name: Release Osiris
        path: src/Osiris-inj/Release/Osiris-inj.exe
    - uses: actions/upload-artifact@v1
      with:
        name: Release GOESP
        path: src/GOESP-inj/Release/GOESP-inj.exe
